/* Montserrat Light */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Montserrat'),
    url('/_vuepromo_fonts/Montserrat/Montserrat-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('/_vuepromo_fonts/Montserrat/Montserrat-Light.woff') format('woff'), /* Modern Browsers */
}
/* Montserrat Medium */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat'),
    url('/_vuepromo_fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('/_vuepromo_fonts/Montserrat/Montserrat-Medium.woff') format('woff'), /* Modern Browsers */
}
/* Montserrat Bold */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Montserrat'),
    url('/_vuepromo_fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('/_vuepromo_fonts/Montserrat/Montserrat-Bold.woff') format('woff'), /* Modern Browsers */
}
