// COLORS
$color_primary_light: #1d19b7;
$color_primary_dark: #1d19b7;
$color_primary: #1d19b7;
$color_link: #1d19b7;

$color_secondary: black;
$color_secondary_dark: black;
$color_secondary_light: #333;

$color_third: white;
$color_third_dark: white;
$color_third_light: white;

$color_white: white;
$color_grey_lite: #f5f5f5;
$color_grey_light: #f2f2f2;
$color_grey: #757575;
$color_black: black;

$color_red: #fb3048;
$color_green: #77b148;
$color_blue: #3179cf;
$color_blue_lite: #4fc3f7;
$color_orange: #ff8f00;
$color_yellow: #ffa700;
$color_teal: #00bb99;

$base_font-size: 16px;

//points by ilya
$min_point: 560px; /* 272-719 */
$min_margin: 24px;

$sc_small_point: 767px; /* 272-719 */
$sc_small_margin: 24px;

$sc_medium_point: 1024px;
$sc_medium_container: 960px; /* 696 */
$sc_medium_margin: 36px;

$sc_large_point: 1365px;
$sc_large_container: 1200px; /* 936 */
$sc_large_margin: 44.5px;

$sc_extralarge_point: 1366px;
$sc_extralarge_container: 1366px; /* 1224 */
$sc_extralarge_margin: 71px;


//mixins
@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition:    $transition;
  -ms-transition:     $transition;
  -o-transition:      $transition;
  transition:         $transition;
}