* {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
  padding-top: 60px;
  transition: opacity .3s ease;
  &.block {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
  }
}
.wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0 $sc_extralarge_margin;
  max-width: $sc_extralarge_container;
  width: 100%;
  font-size: 0;
  box-sizing: border-box;
  @media (max-width: $sc_large_point) {
    padding-left: $sc_large_margin;
    padding-right: $sc_large_margin;
      max-width: $sc_large_container;
  }
  @media (max-width: $sc_medium_point) {
    padding-left: $sc_medium_margin;
    padding-right: $sc_medium_margin;
      max-width: $sc_medium_container;
  }
  @media (max-width: $sc_small_point) {
      padding-left: $sc_small_margin;
      padding-right: $sc_small_margin;
  }
  @media (max-width: $min_point) {
    padding-left: $min_margin;
    padding-right: $min_margin;
  }
}
.page-content {
  padding-top: 50px;
  padding-bottom: 100px;
}
.h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 41px;
  color: #222;
  margin: 0;
  margin-bottom: 20px;
}
.h2 {
  color: #222;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4em;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 25px;
}
.h3 {
  font-size: 19px;
  color: rgba(0,0,0,0.86);
  line-height: 1.5em;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 10px;
  margin-top: 25px;
}
.p {
  color: rgba(0,0,0,0.86);
  line-height: 1.5em;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  font-size: 19px;
  margin-bottom: 5px;
}
.text li {
  margin-bottom: 0;
  position: relative;
  padding-left: 15px;
  margin-left: 20px;
  &::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #222;
    left: 0;
    top: 12px;
  }
  p {
    margin: 0;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  font-size: 0;
}

a {
  color: #4D515C;
  text-decoration: underline;
  outline: none;
  transition: color .2s ease, opacity .2s ease;
  &:hover {
    color: $color_link
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to  {
  opacity: 0;
}
.left-in-enter-active, .left-in-leave-active {
  transition: .5s;
}
.left-in-enter, .left-in-leave-to  {
  transform: translateX(-100%)
}

// Page transition
.page-enter-active, .page-leave-active {
transition: opacity .3s;
}
.page-enter, .page-leave-active {
opacity: 0;
}

.fade-tabs-enter-active, .top-slide-leave-active {
  transition: opacity .6s;
  opacity:1;
}
.fade-tabs-enter, .top-slide-leave-to  {
  transition: opacity .6s;
  opacity:0
}